@import '@style/constants.less';

.form {
    width: 100%;

    .ant-tabs-nav {
        margin-bottom: 24px;
    }

    .ant-input-affix-wrapper {
        padding: 0;
    }

    .ant-input-suffix {
        padding: 10px;
    }

    &__input {
        width: 100%;
        margin-bottom: 50px;
        .ant-form-item {
            margin-bottom: 0;
        }
    }

    &__additional {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        .ant-form-item {
            margin-bottom: 0;
        }

        .forgot-password {
            letter-spacing: 1px;
        }

        a {
            color: @text_lite;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: @text_lite;
        }
    }

    .ant-form-item-control-input-content {
        display: flex;
        justify-content: space-between;
    }

    &__footer {
        margin-bottom: 0;
        .ant-form-item-control-input-content {
            flex-direction: column;

            .ant-btn:first-child {
                margin-bottom: 16px;
            }
        }
        .google-auth {
            letter-spacing: 1px;
        }
    }
}

@media screen and (max-width: 850px) {
    .auth-form__container_signin {
        align-items: flex-start;
        .auth-form {
            margin-top: 200px;
        }
    }
}

@media screen and (max-width: 660px) {
    .auth-form__container_signin {
        align-items: center;
        .auth-form {
            margin-top: 0;
        }
    }

    .form__additional .forgot-password {
        letter-spacing: 0.5px;
    }

    .button_secondary {
        svg {
            display: none;
        }

        .anticon + span {
            margin-left: 0;
            letter-spacing: 0;
        }
    }

    .form__additional {
        margin-bottom: 16px;
    }
}
