@import '@style/constants.less';

.main-layout {
    height: 100vh;
}

.slider {
    background-color: @background;
    padding-top: 30px;
    box-shadow: 0px 2px 8px 0px @shadow;

    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
    }
}

.slider__logo {
    padding: 15px 29px;

    img {
        width: 100%;
    }
}

.slider__nav {
    margin-top: 51px;
    height: 100%;
    border-right: none;

    .ant-menu-item-icon {
        font-size: 15px;
    }

    .ant-menu-title-content {
        font-size: 14px;
    }

    label {
        margin-left: 10px;
    }

    .slider__item {
        margin: 18px 0;
        padding: 0 16px;
        &:first-child {
            margin-top: 0;
        }
        &.ant-menu-item-selected {
            background-color: transparent;
        }
        &.ant-menu-item-active {
            color: inherit;
        }

        &.ant-menu-item:after {
            display: none;
        }

        &.ant-menu-item:active,
        .ant-menu-submenu-title:active {
            background: none;
        }

        &.ant-menu-item-selected,
        &.ant-menu-item:hover {
            color: inherit;
        }
    }
}

.main-layout__header {
    padding: 14px 24px 19px;
    background-color: @header-background;
    height: auto;
}

.header__title {
    padding: 8px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .header__text {
        padding: 4px 0;
        display: flex;
        align-items: flex-start;
        line-height: 49px;
    }
}

.header__settings {
    background: transparent;
    border: none;
    box-shadow: none;
    align-items: center;
    display: flex;
    padding: 3px 17px;
    height: auto;
}

.slider-footer {
    border-top: 1px solid @line;
}
.slider-footer__button {
    width: 100%;
    text-align: left;
    height: auto;
    border: none;
    padding: 9px 16px;
    box-shadow: none;

    .slider-footer__img {
        display: inline-block;
        width: 16px;
        height: 16px;
    }

    .slider-footer__text {
        margin-left: 25px;
    }
}

.main-layout__content {
    display: block;
    padding: 24px;
    background: no-repeat center/cover url('@public/lite.jpg');
}

.main-page {
    &__possibilities {
        max-width: 752px;
        display: block;
    }
    &__preview {
        padding: 24px;
        background-color: @background;
    }
    &__preview-description {
        font-size: 16px;
        color: @text;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__tagline {
        background: @background;
        padding: 24px;
        margin-top: 24px;
        .ant-typography {
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0;
        }
    }

    &__cards {
        margin-top: 16px;
        display: flex;

        & > * {
            width: 100%;
        }
    }
}
