@import '@style/constants';

.main-page-card {
    .ant-card-head-title {
        padding: 7px 0;
        text-align: center;
    }
    .ant-card-body {
        padding: 14px;
        text-align: center;
    }
}
